@model TeamMVC.Models.IndexViewModel

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Player Name</th>
                <th>Player City</th>
                <th>Team</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var player in Model.Players)
            {
                <tr>
                    <td>@player.PlayerName</td>
                    <td>@player.TeamCity</td>
                    <td>@player.TeamName</td>
                </tr>
            }
        </tbody>
    </table>
</div>